*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: aliceblue;
    margin-left: 4px;
    margin-top: 250px;
     }

.time {
    background-color: aqua;
    padding: 8px;
    display: block;
    margin: auto;
    border: 5px solid #960d0d;
    box-shadow: 0 5px 10px rgba(0,0,0,0.25)
                0 5px 10px 0 rgba(0,0,0,0.25);
    text-align: center;
    width: 500px;
    border-radius: 25px;
    }

.hms {
    font-size: 50pt;
    font-weight: 500;
}

.amPm {
    font-size: 27pt;
}

.date {
    font-size: 25pt;
}

@media only screen and (max-width: 800px) {
    body {
        margin-top: 220px;
        margin-left: 1px;
    }
    
    .time {
        width: 500px;
        padding: 8px;
    }

    .hms {
    font-size: 50pt;
    font-weight: 500;
}

    .amPm {
        font-size: 30pt;
    }

    .date {
        font-size: 27pt;
    }
}

@media only screen and (max-width: 600px) {
    body {
        margin-top: 220px;
        margin-left: 5px;
    }
    
    .time {
        width: 400px;
        padding: 5px;
    }
}

@media only screen and (max-width: 400px) {
    body {
        margin-top: 200px;
        margin-left: 5px;
    }
    
    .time {
        width: 300px;
        padding: 5px;
    }

     .hms {
    font-size: 40pt;
    font-weight: 500;
}

    .amPm {
        font-size: 25pt;
    }

    .date {
        font-size: 23pt;
    }
}

@media only screen and (max-width: 300px) {
    body {
        margin-top: 250px;
        margin-left: 1px;
    }
    
    .time {
        width: 250px;
        padding: 5px;
    }

     .hms {
    font-size: 30pt;
    font-weight: 500;
   }

    .amPm {
        font-size: 20pt;
    }

    .date {
        font-size: 20pt;
    }
}